/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --bg: hsl(243, 96%, 9%);
    --card: hsl(243, 23%, 24%);
    --card2: hsl(243, 23%, 30%);
    --text: white;
    --subtext: hsl(240, 6%, 70%);
    --blue: hsl(248, 70%, 36%);
}

/* BODY */
body {
    background: var(--bg);
    color: var(--text);
    font-family: "DM Sans", sans-serif;
    padding: 1.5rem;
    text-align: center;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.logo img {
    width: 130px;
}

.unit-button {
    background: var(--card2);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    color: var(--text);
    cursor: pointer;
}

/* MAIN TITLE */
.main-top {
    max-width: 700px;
    margin: 0 auto;
}

.main-title {
    font-size: 2.8rem;
    margin: 1rem 0 2rem 0;
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    gap: 1rem;
    margin: 0 auto 3rem auto;
    max-width: 600px;
}

.search-bar input {
    flex: 1;
    background: var(--card2);
    padding: 1rem;
    border-radius: 10px;
    border: none;
    color: var(--text);
}

.search-bar button {
    padding: 1rem 1.5rem;
    background: var(--blue);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* 2 COLUMN GRID */
.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* CURRENT WEATHER CARD */
.current-weather {
    background: var(--blue);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/bg-today-large.svg);
    background-size: cover;
}

/* EXTRA INFO */
.extra-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem 0;
    gap: 1rem;
}

.info-card {
    background: var(--card2);
    padding: 1rem;
    border-radius: 12px;
    text-align: left;
}

/* DAILY FORECAST */
.daily-section {
    margin-top: 1.5rem;
    text-align: left;
}

.daily-forecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.daily-list {
    background: var(--card2);
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
}

/* HOURLY FORECAST */
.hourly-forecast {
    background: var(--card);
    padding: 1rem;
    border-radius: 12px;
}

.hourly-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.hourly-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.hourly-item {
    background: var(--card2);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}