@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    /*Font DM Sans*/
    --FF-DM: "DM Sans", sans-serif;
    --FW-DM3: 300;
    --FW-DM4: 400;
    --FW-DM5: 500;
    --FW-DM6: 600;
    --FW-DM7: 700;
    
    /*Font Bricolage */
    --FF: "Bricolage Grotesque", sans-serif;
    --FW-Bricolage: 700;

    /*Color*/
    --Neutral-900: hsl(243, 96%, 9%);
    --Neutral-800: hsl(243, 27%, 20%);
    --Neutral-700: hsl(243, 23%, 24%);
    --Neutral-600: hsl(243, 23%, 30%);
    --Neutral-300: hsl(240, 6%, 70%);
    --Neutral-200: hsl(250, 6%, 84%);
    --Neutral-0: hsl(0, 0%, 100%);

    --ORANGE: hsl(28, 100%, 52%);

    --Blue-500: hsl(233, 67%, 56%);
    --Blue-700: hsl(248, 70%, 36%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;

    font-family: var(--FF-DM);
    font-weight: var(--FW-DM3);
    background-color: var(--Neutral-900);
    color: var(--Neutral-0);
    text-align: center;
    padding: 1rem;
}

.header, .main-container{
    width: 100%;
    max-width: 400px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem ;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    width: 200px;
    height: 24px;
}

.unit-button{
    background-color: var(--Neutral-700);
    padding: 0.5rem 1rem;
    color: var(--Neutral-0);
    border-radius: 6px;
    cursor: pointer;
    
}

.main-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.search-bar{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.search-bar input{
    width: 60%;
    background-color: var(--Neutral-700);
    color: var(--Neutral-200);
    border-radius: 5px;
    margin: 0 0.2rem 1rem;
    padding: 0.4rem 1rem;
}

.search-bar button{
    background-color: var(--Blue-700);
    border-radius: 5px;
    padding: 0.3rem ;
    color: var(--Neutral-0);

}

.search-bar button, .search-bar input{
    border: none;
}



.weather-info{
    border: 1px solid red;
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.current-weather{
    border: 1px dashed orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Blue-500);
    border-radius: 16px;
    padding: 1rem;
}

.location h3{
    font-size: 1.25rem;
}

.date{
    color: var(--Neutral-300);
}

.temperature{
    display: flex;align-items: center;
    gap: 0.5rem;
}

.temperature img{
    width: 80px;
}

.temp{
    font-size: 3rem;
}

.extra-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) ;
    gap: 1rem;
}

.info-card{
    background-color: var(--Neutral-700);
    padding: 1rem;
    border-radius: 12px;
    
}

.info-card p{
    color: var(--Neutral-300);
}

.forecast{
    display: grid;
    gap: 2rem;
}

.hourly, .daily{
    background-color: var(--Neutral-700);
    padding: 1rem;
    border-radius: 12px;
}

.forecast-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.hourly-list, .daily-list{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.hourly-list div, .daily-list div{
    min-width: 70px;
    background-color: var(--Neutral-700);
    border: 2px solid red;
}