@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    /*Font DM Sans*/
    --FF-DM: "DM Sans", sans-serif;
    --FW-DM3: 300;
    --FW-DM4: 400;
    --FW-DM5: 500;
    --FW-DM6: 600;
    --FW-DM7: 700;
    
    /*Font Bricolage */
    --FF: "Bricolage Grotesque", sans-serif;
    --FW-Bricolage: 700;

    /*Color*/
    --Neutral-900: hsl(243, 96%, 9%);
    --Neutral-800: hsl(243, 27%, 20%);
    --Neutral-700: hsl(243, 23%, 24%);
    --Neutral-600: hsl(243, 23%, 30%);
    --Neutral-300: hsl(240, 6%, 70%);
    --Neutral-200: hsl(250, 6%, 84%);
    --Neutral-0: hsl(0, 0%, 100%);

    --ORANGE: hsl(28, 100%, 52%);

    --Blue-500: hsl(233, 67%, 56%);
    --Blue-700: hsl(248, 70%, 36%);
}

body{
  
    font-family: var(--FF-DM);
    font-weight: var(--FW-DM3);
    background-color: var(--Neutral-900);
    color: var(--Neutral-0);
    text-align: center;
    padding: 1rem;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}



.logo img{
    width: 130px;
    height: auto;
}

.unit-button{
    background-color: var(--Neutral-700);
    padding: 0.5rem 1rem;
    color: var(--Neutral-0);
    border-radius: 6px;
    cursor: pointer;
    
}

.main-title{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 64px;
}

.main-container{
    max-width: 400px;
    margin: 0 auto;
}

.search-bar{
    display: flex;
    align-items: center;
    flex-direction: column;    
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.search-bar input{
    background-color: var(--Neutral-700);
    color: var(--Neutral-200);
    padding: 0.4rem 1rem;
}

.search-bar button{
    background-color: var(--Blue-700);
    padding: 0.3rem ;
    color: var(--Neutral-0);
   

}

.search-bar button, .search-bar input{
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}



.weather-info{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.current-weather{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Blue-500);
    border-radius: 16px;
    padding: 1rem;

    background-image: url(images/bg-today-small.svg);
    background-size: contain;
    background-repeat: no-repeat;

}

.location h3{
    font-size: 2.5rem;
}

.date{
    color: var(--Neutral-300);
    font-size: 1.5rem;
    margin-bottom: 0.5rem; 
}

.temperature{
    display: flex;align-items: center;
    gap: 1rem;
}

.temperature img{
    width: 80px;
}

.temp{
    font-size: 4rem;
    font-family: var(--FF-DM);
    font-weight: 300;
}

.extra-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) ;
    gap: 1rem;
}

.info-card{
    background-color: var(--Neutral-700);
    padding: 1rem;
    border-radius: 12px;
    text-align: left;
    
}

.info-card p{
    color: var(--Neutral-300);
    margin-bottom: 1rem;
}

.info-card h4{
    font-size: 30px;
    font-weight: 200;
}

.forecast{
    display: grid;
    gap: 2rem;
}

.daily-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0;
}

.daily-forecast-header{
    padding: 1rem;
    text-align: left;
}
.daily-list{
    background-color: var(--Neutral-700);
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
}

.daily-list img{
    width: 50px;
    
}

.daily-section{
    margin-bottom: 2rem;
}

.degree-bottom{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hourly-forecast{
    background-color: var(--Neutral-700);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.hourly-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.hourly-forecast  h3{
    margin: 0;
    font-size: 1rem;
}

.hourly-forecast button{
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.hourly-list{
    display: grid;
    gap: 0.5rem;
}

.hourly-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--Neutral-600);
    margin: 0.5rem 0;
    border: 0.1px solid var(--Neutral-300);
    font-size: 16px;
    font-weight: 500;
}

.time-icon{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}


.hourly-list img{
    width: 50px;
}


@media (min-width: 1024px) {
    main{
        padding: 2rem 2rem;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img{
        width: 150px;
    }

    .unit-button{
        border: none;
        cursor: pointer;
        border-radius: 6px;
    }

    /*Main title*/
    .main-top{
        max-width: 700px;
        margin: 0 auto;
    }

    .main-title{
        font-size: 2.8rem;
        margin: 1rem 0 2rem 0;
    }

    /* search bar */

    .search-bar{
        flex-direction: row;
        gap: 1rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        
    }
    
    .search-bar input{
        flex: 2;
    }
    .search-bar button{
        width: auto;
    }
    
    
/* 2 COLUMN GRID */
.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* CURRENT WEATHER CARD */
.current-weather {
    background: var(--blue);
    border-radius: 20px;
    padding: 4.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/bg-today-large.svg);
    background-size: cover;
    flex-direction: row;
}

/* EXTRA INFO */
.extra-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem 0;
    gap: 1rem;
}

.info-card {
    background: var(--Neutral-700);
    padding: 1rem;
    border-radius: 12px;
    text-align: left;
}

/* DAILY FORECAST */
.daily-section {
    margin-top: 1.5rem;
    text-align: left;
}

.daily-forecast {
    display: grid;
    grid-template-columns: repeat(7, 0.8fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.daily-list {
    background: var(--Neutral-700);
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    
}

.daily-list img{
    margin: 0.5rem 0 0.5rem;
}
.degree-bottom{
    justify-content: space-between;
    gap: 2px;
}



/* HOURLY FORECAST */
.hourly-forecast {
    background: var(--Neutral-700);
    border-radius: 12px;
}

.hourly-header {
    display: flex;
    justify-content: space-between;
}

.hourly-list {
    display: flex;
    flex-direction: column;
}

.hourly-item {
    background: var(--Neutral-700);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.13rem;
}
}